body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  height: 100%;
}

#chain {
  background-image: url("../img/chain.png");
  background-size: cover;
  height: 100%;
  position: absolute;
}

h1 {
  text-align: center;
  font-size: 20em;
  color: #00550099;
}

.well {
  background-color: #88cc88aa;
  border-radius: 2em;
  border-width: 0px;

}

.container {
  max-width: 40em;
}

h2 {
  display: none;
  text-align: center;
}
